*, *::before, *::after {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body {
  font-family: 'Noto Sans SC', Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
}

code, kbd, .line-number {
  font-family: 'CaskaydiaCove Nerd Font', Consolas, monaco, 'Noto Sans SC', Arial, 'Helvetica Neue', Helvetica, monospace !important;
}

.navbar .logo {
  transition: all, 0.3s;
}

.navbar a:hover .logo {
  transform: rotate(180deg);
}
